.mui-modal {
  background: #fff;
  width: 420px;
  padding: 24px;
  border-radius: 12px;
  box-shadow: 0 3px 30px rgba(0, 0, 0, 0.15);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
